body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-top {
  height: 80px;
  line-height: 80px;
}

.header-top .logo img{
  vertical-align: middle;
}

ul.navbar-menu li,
ul.navbar-language li {
  display: inline-block;
  padding-right: 10px;
}

ul.navbar-menu li a,
ul.navbar-language li a {
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

ul.navbar-language :not(#es) a{
  border-right: 2px solid black;
  padding-right: 10px;
}

ul.navbar-language #es{
  padding-right: 0px;
}

.jumbotron {
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.jumbotron h1 {
  font-size: 40px;
}

.jumbotron p {
  margin: 10px 0;
}

.jumbotron .testo {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
}

.prodotti div{
  text-align: center;
}

.prodotti img{
  height: 350px;
  display: block;
  margin: 0 auto;
}

.grey{
  background-color: #FAFAFA;
}

.prodotti .row h2{
  padding-top: 50px;
}

.prodotti .row div *{
  padding-bottom: 30px;
}

.prodotti .row .monopattino{
  margin-right: 10px;
}

.prodotti .row .bici{
  margin-left: 10px;
}

section.mobility{
  height: 450px;
  background-image: url('../img/scooter.f0a0397.jpg');
  background-size: cover;
  background-position: right;
  background-position:center;
}

.mobility-text{
  height: 450px;
  position: relative;
}

.mobility-text-r h2{
  font-size: 40px;
  padding-bottom: 25px;
}

.mobility-text-r h3, a{
  font-size: 20px;
  font-weight: normal;
  color: white;
  padding-bottom: 25px;
}

.mobility .row .mobility-text .mobility-text-r{
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  padding:0 20%;
}

.app .row .download{
  height: 600px;
  background: linear-gradient(#41566a,#252f38) 50%;
  margin-right: 15px;
  position: relative;
}

.app .row .find{
  height: 600px;
  background-image: url('../img/city.7c8c928.jpg');
  background-size: cover;
  background-position: top;
  margin-left: 15px;
}

.app .row .download *, .app .row .find *{
  color: white;
  text-align: center;
  padding-top: 15px;
}

.app .row .download h2, .app .row .find h2{
  font-size: 40px;
}

.app .row .download img{
  height: 70%;
  position: absolute;
  left: 50%;
  bottom:0;
  transform: translateX(-50%);
}

@media screen  and (max-width:992px){

  .prodotti img{
    height: 310px;
  }
}

@media screen and (max-width:768px){

  .prodotti .row .monopattino, .prodotti .row .bici{
    margin: 15px 30px;
  }

  section.mobility{
    background-position: right;
  }

  .mobility .row .mobility-text:first-child{
    display: none;
  }

  .app .row .download, .app .row .find{
    margin: 15px 30px;
  }
}

@media screen and (max-width: 480px){

  .app .row .download, .app .row .find{
    height: 400px;
  }

  .app .row .download img{
    height: 55%;
  }
}
















































/* /// */
