body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-top {
  height: 80px;
  line-height: 80px;
}

.header-top .logo img{
  vertical-align: middle;
}

ul.navbar-menu li,
ul.navbar-language li {
  display: inline-block;
  padding-right: 10px;
}

ul.navbar-menu li a,
ul.navbar-language li a {
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

ul.navbar-language :not(#es) a{
  border-right: 2px solid black;
  padding-right: 10px;
}

ul.navbar-language #es{
  padding-right: 0px;
}

.jumbotron {
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.jumbotron h1 {
  font-size: 32px;
}

.jumbotron p {
  margin: 10px 0;
}

.jumbotron .testo {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
}

.prodotti div{
  text-align: center;
}

.prodotti img{
  height: 350px;
  display: block;
  margin: 0 auto;
}

.grey{
  background-color: #FAFAFA;
}

.prodotti .row {
  margin-top: 30px;
}

.prodotti .row h2{
  padding-top: 50px;
}

.prodotti .row div *{
  padding-bottom: 30px;
}

.prodotti .row .monopattino{
  margin-right: 10px;
}

.prodotti .row .bici{
  margin-left: 10px;
}

@media screen  and (max-width:992px){

  .prodotti img{
    height: 310px;
  }
}

@media screen and (max-width:768px){

  .prodotti .row .monopattino, .prodotti .row .bici{
    margin: 15px 30px;
  }
}


















































/* /// */
